.b-background {
  height: 100vh;
  background-image: url("../../../../../images/login-bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 340px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 5px #5d5d5d;
}

.logo {
  margin-top: 25px;
}