<div class="row">
    <div class="col-12">
        <h1>Scrum Summery</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="tasks-holder" style="background-color: #1e88e5">
        <h2>Ali Arshad</h2>
        <app-card></app-card>
        <app-card [isEdit]="true"></app-card>
        <app-card></app-card>
    </div>

    <div class="tasks-holder" style="background-color: #e52d24">
        <h2>Ali Arshad</h2>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

    <div class="tasks-holder" style="background-color: #3ce565">
        <h2>Ali Arshad</h2>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

    <div class="tasks-holder" style="background-color: #e5a034">
        <h2>Ali Arshad</h2>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</div>