@import "../../../node_modules/bootstrap-4-grid/scss/grid";
@import "variables";

* {
  font-family: $font-family;
}

.no-padding {
  padding: 0px !important;
}


.mat-icon {
  font-size: 14px !important;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.form-control-wrapper--error {
  input {
    //border: 1px solid red !important;
    border-color: red !important;
  }

  & > input {
    //border: 1px solid red !important;
    border-color: red !important;
  }

  .error {
    font-size: 12px;
    color: red;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

app-form-control {
  width: 100%;
}


h1 {
  text-align: center;
  padding: 15px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  padding: 7px;
  text-align: center;
}

.mat-card {
  padding: 10px !important;
  margin: 8px 0;
  font-size: 14px;
  font-family: $font-family;
}

*:focus {
  outline: none;
}