<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="mat-error error_holder">{{error}}</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="d-flex">

        <mat-form-field class="mat-input-fields">
            <input matInput
                   placeholder="Password"
                   formControlName="Password"
                   name="password"
                   minlength="6"
                   maxlength="25"
                   (keydown)="spaceBar($event)"
                   [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>

    <div class="d-flex">
        <mat-form-field class="mat-input-fields">
            <input matInput
                   placeholder="Confirm Password"
                   formControlName="ConfirmPassword"
                   minlength="6"
                   maxlength="25"
                   (keydown)="spaceBar($event)"
                   name="confirmpassword"
                   [type]="hideConfirmPassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

    </div>

    <div class="error-wrapper">
        <div class="error"
             *ngIf="registerForm.get('Password').hasError('minlength')">
             <!--*ngIf="registerForm.get('ConfirmPassword').errors && registerForm.get('ConfirmPassword').errors.ConfirmPassword">-->
            <span class="matchingPass"> Minimum 6 characters required</span>
        </div>
    </div>

    <div class="d-flex">
        <button mat-raised-button class="mat-submit-button" [disabled]="isPasswordReset">{{isPasswordReset?"Please Wait": "SUBMIT"}}</button>
    </div>
</form>
<div class="border"></div>
